
header {
    float: left;
    padding: 24px 0;
    width: 160px;
    height: 700px;
    text-align: center;
    color: white;
    background-color: #6da7e9;
}

main {
    margin-left: 160px;
    padding: 2px 10px;
}
