
/* header */
header {
    position: relative;
    width: 1600px;
    height: 990px;
    border: 1px solid;
    background: url(../img/head-bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

.h-hello {
    margin: 190px auto;
    width: 766px;
}

.h-hello h2 {
    color: #ffffff;
    font-size: 62px;
    font-weight: lighter;
}

.h-hello p {
    margin: 60px auto;
    letter-spacing: 1px;
    word-spacing: -2px;
    line-height: 30px;
    font-size: 20px;
    color: #9e9a9a;
}

/* header .h-signup */

.h-signup {
    position: absolute;
    top: 530px;
    left: calc(50% - 485px);
    width: 970px;
    height: 250px;
    border: 1px solid rgba(94, 94, 94, 0.7);
}

.h-signup h4 {
    margin: 60px auto 0 auto;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
}

.h-signup .tips {
    display: block;
    margin: 10px auto;
    font-size: 12px;
    letter-spacing: 1px;
    color: #9e9a9a;
}

.h-signup form {
    margin: 40px 99px;
}

.h-signup input {
    margin-right: 30px;
    padding-left: 20px;
    width: 270px;
    height: 48px;
    border: 1px solid rgba(138, 138, 138, 0.7);
    border-radius: 3px;
    color: #ffffff;
}

.h-signup button {
    width: 118px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
}